* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    background-color: #F2F2F2;
}

.central {
    margin: 0 165px;
}

.logo {
    height: 32px;
    width: 61px;
}

.nav-list {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;
}

a {
    text-decoration: none;
    color: #33323D;
    cursor: pointer;

    font-family: 'Public Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;
    text-align: left;
}

ul {
    list-style: none;
}


h1 {
    font-family: 'Ibarra Real Nova';
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -0.4464285671710968px;

    color: #33323D;
}

h2 {
    font-family: 'Ibarra Real Nova';
    font-size: 40px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.36px;

    width: 100%;
    color: #33323D;
}

.sub-footer4 a {
    text-decoration: none;
    color: #FFFFFF;
}

.button-nav a {
    font-family: 'Public Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 2px;

    text-align: center;
    text-decoration: none;
}

p {
    font-family: 'Public Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
}

span {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
}